.inner {
  width: 80%;
  margin: 0 auto;
}

.default-page {
  background-color: #CEECEA;
  color: #5a5858;
  font-size: 16px;
  font-family: "Helvetica Neue",Arial,"Hiragino Kaku Gothic ProN","Hiragino Sans","BIZ UDPGothic",Meiryo,sans-serif;
}

.cancel-scroll {
  overflow: hidden;
}

.full-width {
  width: 100%;
}

/* ヘッダー */
.portfolio-header {
  color: #fff;
  background-color: #7FBDD5;
}

.header-contents {
  display: flex;
  padding: 75px 0;
}

.profile-text-box {
  line-height: 30px;
  letter-spacing: 1px;
  margin-top: 25px;
}

.profile-text-box:first-child {
  margin-top: 0;
}

.profile-easy-info {
  display: flex;
  align-items: center;
}

.profile-icon i {
  font-size: 145px;
  margin-right: 35px;
}

.profile-title  {
  font-size: 35px;
  padding-bottom: 5px;
  border-bottom: 3px solid #fff;
  margin-bottom: 20px;
}

.profile-text {
  margin-top: 20px;
}

.profile-table th {
  font-weight: lighter;
}

.profile-table td {
  padding-left: 30px;
}

.profile-icon-list {
  display: flex;
  text-align: center;
}

.profile-icon-list li {
  margin-right: 30px;
}

.profile-icon-list li:last-child {
  margin-right: 0;
}

.profile-icon-list .skill-icon, .profile-icon-list .account-icon {
  font-size: 50px;
}

.profile-icon-list .account-icon {
  transition: all 0.3s;
}

.profile-icon-list .account-icon:hover {
  color: #817F7F;
} 

.profile-icon-list .skill-name {
  font-size: 14px;
}


/* メイン */
.main-area {
  height: auto;
}

.my-works-web, .my-works-movie {
  margin-top: 80px;
}

.section-title {
  text-align: center;
  font-size: 35px;
  width: 75%;
  margin: 0 auto;
  color: #817F7F;
  border-bottom: 3px solid #817F7F;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.my-works {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
  width: 100%;
}

.my-works img {
  transition: all 0.3s;
  box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 0px 0px 0px 1px rgba(10,10,10,0.02);
}

.my-works img, .modal-img {
  height: auto;
}

.my-works img:hover {
  box-shadow: 0px 8px 16px -2px rgba(10, 10, 10, 0.1), 15px 20px 20px 3px rgba(10,10,10,0.1);
  transform: translateY(-4px);
  cursor: pointer;
}

/* モーダル */
.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content-box {
  width: 50%;
  margin: 5% auto;
  background-color: #fff;
  border-radius: 3px;
  padding: 30px;
  position: relative;
}

.modal-title {
  text-align: center;
  font-size: 20px;
}

.modal-img, .modal-movie {
  border: 1px solid #817F7F;
  margin-top: 20px;
}

.modal-movie {
  aspect-ratio: 16/9;
}

.modal-movie iframe {
  width: 100%;
  height: 100%;
}

.modal-text {
  margin-top: 20px;
}

.modal-btns {
  text-align: center;
  margin-top: 20px;
}

.open-btn {
  padding: 5px 10px;
  color: #7FBDD5;
  transition: all 0.3s;
}

.open-btn:hover {
  background-color: #7FBDD5;
  color: #fff;
}

.close-btn {
  text-align: center;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 30px;
  width: 37px;
  height: 38px;
  border-radius: 50%;
  transition: all 0.3s;
}

.close-btn:hover {
  background-color: #5a5858;
  color: #fff;
  cursor: pointer;
}

/* フッター */
.portfolio-footer {
  background-color: #7FBDD5;
  margin-top: 150px;
}

.footer-contents {
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.footer-title {
  font-size: 35px;
  width: 75%;
  margin: 0 auto;
  border-bottom: 3px solid #fff;
  padding-bottom: 5px;
}

.footer-nav {
  display: flex;
  justify-content: center;
  font-size: 20px;
}

.footer-nav li {
  margin-right: 30px;
  border-bottom: 1px solid #fff;
  padding-bottom: 3px;
  transition: all 0.3s;
}

.footer-nav li:hover {
  color: #817F7F;
  border-color: #817F7F;
  cursor: pointer;
}

.footer-nav li:last-child {
  margin-right: 0;
}

.copy-right {
  margin-top: 20px;
}
